<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.briup.dao.mapperInterface.EsBookMapper" >
  <resultMap id="BaseResultMap" type="com.briup.bean.EsBook" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="PUBLISHER" property="publisher" jdbcType="VARCHAR" />
    <result column="PUBDATE" property="pubdate" jdbcType="DATE" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="DECIMAL" />
    <result column="IMAGES" property="images" jdbcType="VARCHAR" />
    <result column="CLICK" property="click" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      ID, NAME, PRICE, AUTHOR, PUBLISHER, PUBDATE, DESCRIPTION, CATEGORY_ID, IMAGES, CLICK
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.briup.bean.EsBookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ES_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    ID,NAME,PRICE,AUTHOR,PUBLISHER,PUBDATE,DESCRIPTION,CATEGORY_ID,IMAGES,CLICK
    from ES_BOOK
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ES_BOOK
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.briup.bean.EsBookExample" >
    delete from ES_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.briup.bean.EsBook" >
    insert into ES_BOOK (ID, NAME, PRICE, 
      AUTHOR, PUBLISHER, PUBDATE, 
      DESCRIPTION, CATEGORY_ID, IMAGES, 
      CLICK)
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{author,jdbcType=VARCHAR}, #{publisher,jdbcType=VARCHAR}, #{pubdate,jdbcType=DATE}, 
      #{description,jdbcType=VARCHAR}, #{categoryId,jdbcType=DECIMAL}, #{images,jdbcType=VARCHAR}, 
      #{click,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.briup.bean.EsBook" >
    insert into ES_BOOK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="author != null" >
        AUTHOR,
      </if>
      <if test="publisher != null" >
        PUBLISHER,
      </if>
      <if test="pubdate != null" >
        PUBDATE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="images != null" >
        IMAGES,
      </if>
      <if test="click != null" >
        CLICK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null" >
        #{pubdate,jdbcType=DATE},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="click != null" >
        #{click,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.briup.bean.EsBookExample" resultType="java.lang.Integer" >
    select count(*) from ES_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ES_BOOK
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.author != null" >
        AUTHOR = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.publisher != null" >
        PUBLISHER = #{record.publisher,jdbcType=VARCHAR},
      </if>
      <if test="record.pubdate != null" >
        PUBDATE = #{record.pubdate,jdbcType=DATE},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID = #{record.categoryId,jdbcType=DECIMAL},
      </if>
      <if test="record.images != null" >
        IMAGES = #{record.images,jdbcType=VARCHAR},
      </if>
      <if test="record.click != null" >
        CLICK = #{record.click,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ES_BOOK
    set ID = #{record.id,jdbcType=DECIMAL},
      NAME = #{record.name,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=DECIMAL},
      AUTHOR = #{record.author,jdbcType=VARCHAR},
      PUBLISHER = #{record.publisher,jdbcType=VARCHAR},
      PUBDATE = #{record.pubdate,jdbcType=DATE},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      CATEGORY_ID = #{record.categoryId,jdbcType=DECIMAL},
      IMAGES = #{record.images,jdbcType=VARCHAR},
      CLICK = #{record.click,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.briup.bean.EsBook" >
    update ES_BOOK
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="author != null" >
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null" >
        PUBLISHER = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null" >
        PUBDATE = #{pubdate,jdbcType=DATE},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      </if>
      <if test="images != null" >
        IMAGES = #{images,jdbcType=VARCHAR},
      </if>
      <if test="click != null" >
        CLICK = #{click,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.briup.bean.EsBook" >
    update ES_BOOK
    set NAME = #{name,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      AUTHOR = #{author,jdbcType=VARCHAR},
      PUBLISHER = #{publisher,jdbcType=VARCHAR},
      PUBDATE = #{pubdate,jdbcType=DATE},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CATEGORY_ID = #{categoryId,jdbcType=DECIMAL},
      IMAGES = #{images,jdbcType=VARCHAR},
      CLICK = #{click,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>